/* footer -------------------------- */
footer {
	background: $darkblue;
    color: $white;
    font-size: 16px;
    line-height: 10px;
    padding: 10px 10;
    text-align: center;
    @include sizing;
}